<header class="hero-unit" id="banner">
  <div class="container">
    <h1>DSPE</h1>
    <p class="lead">A simple web page to simulate a client side to execute a measurement plan to evaluate a Discrete
      System Performance</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="form-group">
        <label for="serverflag">Send request value to server:</label>
        <input type="number" class="form-control" id="serverflag" ng-model="$ctrl.requestCode"
               placeholder="0 for random insert | 1 for random query">
        <button type="button" class="btn btn-primary" style="margin-top: 10px" ng-click="$ctrl.sendRequest()"
                ng-disabled="$ctrl.requestCode === undefined">Send
        </button>
      </div>
    </div>
  </div>
</div>
<toaster-container toaster-options="{'close-button': true,
'time-out': 2500,
'animation-class':
'toast-top-right',
'limit':5}"></toaster-container>
